button{
  margin-top: 1%
}

ul{
  list-style: none;
}

.game-over
{
  display: none;
  text-align: center;
}
#reset{
  text-align: center;
}


#hard{
  color:red;
}

#easy{
  color:green;
}

#rage{
  float: right;
}
